.formEditionProject{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 6%;
    border-radius: 8px;

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4% 0;

        textarea{
            resize: none;
        }

        .submitEditProject{
            padding: 2%;
            width: 40%;
            margin: auto;
            color: white;
            background-color: red;
            border: none;
            font-size: 1rem;
            border-radius: 10px;
            cursor: pointer;
            
            &:hover{
                background-color: rgb(191, 8, 8);
                transition: 0.5s;
            }

        }

        .btnReturnToProjects{
            margin: 2% auto;
            color: white;

            &:hover{
                color: rgb(227, 225, 225);
                transition: 0.5s;
            }
        }
    }

    .form-control{
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: white;
        width: 70%;
        margin: auto;
    }

    .labelForm{
        display: none;
        
    }

    .rdt{
        text-align: center;
    }
    
    .rdtPicker{
        color: #000;
    }

    .labelForInputsForm {
        width: 70%;
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 889px) {
    .formEditionProject{
        padding: 4% 0;

        .form-control{
            width: 80%;
        }
    }
}

